.products-page-initial {
  background-color: antiquewhite;
  height: 100vh;
  padding: 24px 80px 40px 80px;
}
.products-page {
  background-color: antiquewhite;
  height: 100vh;
  align-items: start;
  justify-content: start;
}
.btn-sign-in-welcome {
}
.btn-add-new-item {
  background-color: #feaf00;
  font-size: 14px;
}

.search-bar {
  width: 664px;
  height: 40px;
  font-size: 14px;
  color: #c4c4c4;
}
.search-bar:hover {
  background-color: #feaf0010;
}
/* PAGINATION */
.pagination {
  margin: 0 auto;
  /* width: 100%; */
}
.grid-paginaiton {
  height: 360px;
  width: 100%;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px; */
}

.btn-pagination {
  width: 60px;
  height: 60px;
  border-radius: 32px;
}
.pagination-buttons {
  /* margin: 0 auto; */
}
/* .product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-actions {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .product-actions {
  opacity: 1;
  .shadow-layer {
    opacity: 1;
  }
}
.shadow-layer {
  background-color: #00000050;
} */
