.preview-image {
  width: 208px;
  height: 208px;
  background-size: contain;
}
.back-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  color: #000000;
  text-decoration: none;
}
.back-arrow-icon {
  width: 10px;
  height: 16px;
}
