.product-image {
  width: 300px;
  height: 300px;
  background-size: contain;
  margin: 0 auto;
}
.product-date {
  color: #8080808c;
}
.back-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  text-decoration: none;
}
.back-arrow-icon {
  width: 10px;
  height: 16px;
}
.back-btn:hover {
  color: #ffffff;
  background-color: #feaf00;
}
